﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Styles")    <!-- In the "head" element -->
</head>
<body>
    
    @Scripts.Render("~/Script/Bundles")   <!-- At the end of the "body" element -->
</body>
</html>
