﻿@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div> 
        <app-root>test</app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
